* {
    box-sizing: border-box;
}


body{
    width: 100%;
margin: 0;
}

.biggie{
    width: 99%;
    background-color: whitesmoke;
padding-top: -35px;
margin-top: 30px;
border-radius: 10px;
object-fit: cover;
}

header{
    margin-top: 15px auto;
    text-align: center;
}

header h1{
    margin-top: 20px;
    margin-bottom: 15px;
text-decoration: solid;
font-size: 50px;
letter-spacing: 1px;
}

.smallie{
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#pic{
 display: block;
 margin: 20px auto;
}

figcaption{
    text-align: center;
}

h2{
    text-align: center;
margin: 50px 0 0 0;
}

.bold {
    font-weight: bold;
}


.biggie p{
    text-align: center;
    display: inline-table;
    width: 50%;
}

.inserted{
    text-align: center;
    list-style-position: inside;
}

figcaption{
    padding-bottom: 30px; 
font-style: italic;
}

.last{
    text-align: center;
    font-style: italic;
    
}

.end{
    text-align: center;
    font-size: 20px;
  }

a{
    text-decoration: none;
}

a:hover{
    color: blueviolet;
}

:first-of-type p{
    font-weight: 700;
}


.socials{
    text-align: center;
    margin-top: 50px;
letter-spacing: 1px;
font-size: 25px;
text-decoration: double;
font-weight: 900;
}

@media screen and (max-width: 600px)
 {
    header h1{
        margin-top: 20px;
        margin-bottom: 15px;
    text-decoration: solid;
    font-size: 20px;
    letter-spacing: 0.5px;
    }   

    * {
        box-sizing: border-box;
    }

    .socials{
        text-align: center;
        margin-top: 50px;
    letter-spacing: 1px;
    font-size: 16px;
    text-decoration: double;
    font-weight: 900;
    }

    h2{
        text-align: center;
    margin: 50px 0 0 0;
   font-size: 18px;
}

.end{
    text-align: center;
    font-size: 15px;
  }

  .biggie p{
    text-align: center;
    display: inline-table;
    width: 95%;
font-size: 15px;
}  

.smallie{
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: -10px;
}

body{
    width: 100%;
margin: 0;
}

#pic{
    display: block;
    margin: 0px auto;
   }

   .biggie{
    width: 100%;
    background-color: whitesmoke;
padding-top: -35px;
margin-top: 30px;
border-radius: 10px;
object-fit: cover;
position: static;
}

.inserted{
    text-align: left;
    list-style-position: outside;
}
}



